body {
    background-color: #fff;
}
;
.logo {
    transform: scale(0.7);
    @media (max-width:768px){
        margin-left: 26%;
    }
}
.minicart-wrapper .action.showcart:before , .nav-toggle:before, .field.search .label:before
{
    color: #3a3a3a;

    padding: 5px;
}

.field.search {
  position: relative;
}

.block-search .label {
  position: absolute;
  left: 50px;
}
//.field.search .label:before {
//  color: #3a3a3a;
//  transform: scale(1.7);
//  padding: 5px;
//}
//
//.header.content {
//    display: flex;
//}
//.nav-toggle {
//    order: 1;
//}