<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<type name="Trung\Currency\Block\Currency">
    <plugin name="AfterCurrency" type="Trung\Currency\Plugin\AfterCurrency" sortOrder="11" disabled="false" />
</type>
</config>