.oknuon1 {
    color: red;
    font-weight: bold
}

.oknuon2 {
    color: blue;
    font-weight: bold
}

.oknuon3 {
    color: green;
    font-weight: bold
}

.oknuon4 {
    color: yellow;
    font-weight: bold
}

.oknuon5 {
    color: purple;
    font-weight: bold
}

.oknuon6 {
    color: grey;
    font-weight: bold
}